<?xml version="1.0"?>
<ruleset name="cakephp-link-scanner">
    <arg value="p"/>
    <file>.</file>

    <rule ref="./vendor/mirko-pagliai/php-tools/sniffer-ruleset.xml"/>

    <rule ref="SlevomatCodingStandard.Namespaces.UnusedUses.UnusedUse">
        <exclude-pattern>/tests/test_app/TestApp/Template/Error/error500.php</exclude-pattern>
    </rule>
</ruleset>
