parameters:
    level: 6

    paths:
        - config
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        -  tests/test_app/

    ignoreErrors:
        - '#^Call to an undefined static method Tools\\Exceptionist#'
        - '#^Call to an undefined method (Cake|Psr|Traversable)#'

        -
            message: '#^Access to protected property LinkScanner\\Utility\\LinkScanner::\$Client\.$#'
            path: src/Command/LinkScannerCommand.php

        -
            message: '#does not accept Cake\\Collection\\CollectionInterface\.$#'
            path: src/Utility/LinkScanner.php

        -
            message: '#^(Access|Call) to (an undefined|protected) (property|method)#'
            path: tests/TestCase

        -
            message: '# has no return typehint specified\.$#'
            path: tests/TestCase

        -
            message: '#expects Cake\\Event\\EventManager|\null, Cake\\Event\\EventManagerInterface given\.$#'
            path: tests/TestCase
