includes:
    - phpstan-baseline.neon

parameters:
    level: 8

    paths:
        - config
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        -  tests/test_app/

    ignoreErrors:
        - '#^Call to an undefined (static )?method (Cake|Psr|Traversable|Tools\\Exceptionist)#'
        - '#^Access to protected property LinkScanner\\Utility\\LinkScanner::\$Client\.$#'

        -
            message: '#does not accept Cake\\Collection\\CollectionInterface\.$#'
            path: src/Utility/LinkScanner.php

        -
            message: '#^(Access|Call) to (an undefined|protected) (property|method)#'
            path: tests/TestCase

        -
            message: '#(Cake\\Event\\EventManagerInterface|PHPUnit\\Framework\\MockObject\\MockObject) given\.$#'
            path: tests/TestCase
