<?xml version="1.0" encoding="UTF-8"?>
<files psalm-version="4.x-dev@">
  <file src="src/Command/LinkScannerCommand.php">
    <RedundantPropertyInitializationCheck occurrences="2">
      <code>$this-&gt;LinkScanner</code>
      <code>new LinkScanner()</code>
    </RedundantPropertyInitializationCheck>
  </file>
</files>
